{% extends 'base.html.twig' %}

{% block title %}Restaurant - Roots
{% endblock %}

{% block body %}
	<h1>Cuisines caribéennes</h1>

	{# <section class="restaurant_container">
		{% for restaurant in carib %}
			<section>
				<div class="card">
					<img src="{{asset('upload/' ~ restaurant.image)}}" class="card-img-top" alt="Image du restaurant">

					<div class="card-body">
						<h5 class="card-title">{{ restaurant.nom }}</h5>
						<p class="card-text">{{ restaurant.restauration }}</p>
						<p class="card-text">
							{{ restaurant.codePostal }},
							{{ restaurant.ville }}
						</p>
						<a href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">Découvrir...</a>
					</div>
				</div>
			</section>
		{% endfor %}
	</section> #}

{% endblock %}

