{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
<h1>Mon Panier</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Prix</th>
			<th>actions</th>
			<th>Ajouter au panier</th>
			<th>Ajouter au favoris</th>
			<th>Retirer du panier</th>
		</tr>
	</thead>
	<tbody>
		<td colspan="4">
			<a href="{{ path('app_cart_clear')}}" class="btn btn-danger">Vider le panier</a>
		</td>
		{% for row in rows %}
			<tr>
				<td>{{ row.id }}</td>
				<td>{{ row.nom }}</td>
				<td>{{ row.prix }}</td>
				<td>
					<a href="{{ path('app_rows_show', {'id': row.id}) }}" class="btn btn-outline-success">show</a>

					<a href="{{ path('app_rows_edit', {'id': row.id}) }}" class="btn btn-outline-danger">edit</a>

				</td>
				<td>
					<a href="{{ path('app_cart', {'id': row.id}) }}" class="btn btn-outline-primary">Ajouter au favoris</a>

				</td>
				<td>
					<a href="{{ path('app_cart', {'id': row.id}) }}" class="btn btn-outline-primary">Retirer du panier</a>

				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		</td>
    </tbody>
            </tr>
        {% endfor %}
    </tbody>

</table>

{# <a href="{{ path('app_rows_new') }}">Create new</a> #}

{% endblock %}
