{% extends 'base.html.twig' %}

{% block title %}
	Panier - Roots
{% endblock %}

{% block body %}

	<h1>Panier</h1>

	<section class="container bg-light rounded-3 p-3" id="section_cart">

		{% if ligne_panier | length > 0 %}
			<div class="d-flex justify-content-end">
				<a href="{{path('app_cart_clear')}}" class="btn btn-danger">
					<i class="fa-solid fa-trash"></i>
					Vider mon panier
				</a>
			</div>

			<div class="d-flex flex-wrap justify-content-around">
				{% for item in ligne_panier %}

<div class="card card-restaurant" style="width: 12rem;">


						<div class="card-img-top">
							<a class="card_container" href="{{ path('app_produit_show', {'id': item.produit.id}) }}">
								<img src="{{asset('upload/' ~ item.produit.image )}}" alt="Image du produit" class="w-100 h-100">
							</a>
						</div>

						<div class="card-body">
							<a class="card_container" href="{{ path('app_produit_show', {'id': item.produit.id}) }}">
								<p class="h5 card-title">{{  item.produit.titre }}</p>
							</a>
							<div class="d-flex justify-content-between">
								<a class="card_container " href="{{ path('app_produit_show', {'id': item.produit.id}) }}">
									{{item.produit.prix }}
									€
								</a>
								<small class=" opacity-50">(prix HT)</small>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<div class="border border-success rounded-pill px-2">

									<a href="{{ path('app_cart_remove', {'id': item.produit.id}) }}" class="mx-1">
										<i class="fa-solid fa-circle-minus"></i>
									</a>
									{# Quantité du produit dans le panier #}
									{{ item.quantite }}

									<a href="{{ path('app_cart_add', {'id': item.produit.id}) }}" class="mx-1">
										<i class="fa-solid fa-circle-plus"></i>
									</a>
								</div>

								<div>
									<a href="{{ path('app_cart_delete', {'id': item.produit.id}) }}" class="btn btn-sm btn-outline-danger rounded-circle">
										<i class="fa-solid fa-trash-can"></i>
									</a>
								</div>
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
			<hr>
			<p class=" opacity-50 d-flex justify-content-end">
				Total HT (TVA en FR : 20%) :
				{{ total_cart_ht }}
				€
			</p>
			<hr>
			<div class="d-flex justify-content-end">
				<div class=" h5 p-2 font-weight-bold d-flex justify-content-around bg-warning rounded-pill">
					<p>
						Total TTC :
					</p>
					<p>
						{{ total_ttc }}
						€
					</p>
				</div>
			</div>
			<div class=" mt-3 d-flex justify-content-between">
				<a href="{{path('app_produit_index')}}" class="btn btn-secondary m-1">
					Continuer mes achats
				</a>
				<a href="{{path('app_profile_payment')}}" class="btn btn-success m-1">
					Commander
				</a>
				{# <a href="{{path('app_profile_payment_userAddress', {'id': app.user.id})}}" class="btn btn-success m-1">
									Commander
								</a> #}
			</div>
		</section>

	{% else %}
		<div class="text-center mb-5">

			<img class="cart_img" src="{{ asset('img/cart.png') }}" alt="Panier vide">

			<p>
				Votre panier est actuellement vide &#128546;
			</p>

			<a href="{{path('app_produit_index')}}" class="btn btn-warning">
				Visiter la boutique
			</a>
		</div>
	{% endif %}
{% endblock %}
