{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	<h1 class="position_center">{{cart_h1}}</h1>


	{% if ligne_panier | length > 0 %}
		<div>
			<a href="{{path('app_cart_clear')}}" class="btn">
				Vider mon panier
			</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Image</th>
					<th>Quantité</th>
					<th>Prix</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{# nouvelle variable in variable du controller #}
				{% for item in ligne_panier %}
					<tr>
						<td>
							<a href="{{ path('app_produit_show', {'id': item.produit.id}) }}">
								{{ item.produit.titre }}
							</a>
						</td>
						<td>
							<a href="{{ path('app_produit_show', {'id': item.produit.id}) }}">
								<img src="{{asset('upload/' ~ item.produit.image ) }}" width="150" height="100">
							</a>
						</td>
						<td>
							{# bouton PLUS : pour ajouter une quantité d'un article du panier #}
							<a href="{{ path('app_cart_add', {'id': item.produit.id}) }}" class="btn btn-sm btn-outline-success">
								<i class="fa-solid fa-circle-plus"></i>
							</a>
							{{ item.quantite }}
							{# Quantité du produit dans le panier #}
							{# bouton MOINS : pour supprimer une quantité d'un article du panier #}
								<a href="{{ path('app_cart_remove', {'id': item.produit.id}) }}" class="btn btn-sm btn-outline-success"> <i class="fa-solid fa-circle-minus"></i>
							</a>
						</td>
						<td>{{ item.produit.prix }}</td>
						<td>
							{# Lien pour modifier le produit #}
							{# <a href="{{ path('app_admin_produit_edit', {'id': item.produit.id}) }}" class="btn btn-sm btn-outline-success">
																													<i class="fa fas fa-pen-to-square"></i>
																												</a> #}
							{# lien pour supprimer le produit #}
								<a href="{{ path('app_cart_delete', {'id': item.produit.id}) }}" class="btn btn-sm btn-outline-success"> <i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<tfoot>
			<tr>
				<td>
					Total :
					{{ total_cart }}
				</td>
			</tr>
		</tfoot>
		<div>
			<a href="{{path('app_produit_index')}}" class="btn">
				Continuer mes achats
			</a>
			<a href="{{path('app_profile_payment')}}" class="btn">
				Commander
			</a>
		</div>

	{% else %}
		<div class="position_center">
			<p>
			Votre panier est actuellement vide &#128546;
			</p>
		</div>

		</tbody>
	</table>
	<div class="position_center">
		<a href="{{path('app_produit_index')}}" class="btn">
			Consulter la boutique
		</a>
	</div>
	{% endif %}
{% endblock %}
