{% block section_livre %}

<h2>Tableau panier : livres</h2>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Titre</th>
			<th>Livre_auteur</th>
			<th>Livre_edition</th>
			<th>Image</th>
			<th>Livre_resume</th>
			<th>Quantité</th>
			<th>Prix</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{# nouvelle variable in variable du controller #}
		{% for item in ligne_commande %}
			<tr>
				<td>{{ item.produit.id }}</td>
				<td>{{ item.produit.titre }}</td>
				<td>{{ item.produit.livreAuteur }}</td>
				<td>{{ item.produit.livreEdition }}</td>
				<td>{{ item.produit.image }}</td>
				<td>{{ item.produit.livreResume }}</td>
				<td>{{ item.quantite }}</td>
				<td>{{ item.produit.prix }}</td>
				<td>
<a href="{{ path('app_admin_produit_show', {'id': item.produit.id}) }}">show</a>

<a href="{{ path('app_admin_produit_edit', {'id': item.produit.id}) }}">edit</a>

				</td>
				<td>
<a href="{{ path('app_cart_add', {'id': item.produit.id}) }}" class="btn btn-md btn-outline-success">

						<i class="fas fa-cart-shopping"></i>
						Ajouter
					</a>

					<a href="#" class="btn btn-sm btn-outline-success">
						<i class="fas fa-trash"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}