{% extends 'base.html.twig' %}

{% block title %}
	Index CategorieRestaurant
{% endblock %}


{% block body %}
	<div class="bg_admin">

		<h1>CategorieRestaurant index</h1>

		<div class="container">

			<p>Gérer les catégories ( = types de cuisine) des restaurants</p>

			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Type_cuisine</th>
							<th scope="col">Image</th>
							<th scope="col">actions</th>
							<th scope="col">Les restau par catég.</th>
						</tr>
					</thead>
					<tbody>
						{% for categorie_restaurant in categorie_restaurants %}
							<tr>
								<td>{{ categorie_restaurant.id }}</td>
								<td>{{ categorie_restaurant.typeCuisine }}</td>
								<td>
									<img src="{{asset('upload/' ~ categorie_restaurant.image)}}" width="200" class=" rounded-3">
								</td>
								<td>
									<a href="{{ path('app_admin_categorie_restaurant_show', {'id': categorie_restaurant.id}) }}" class="btn btn-primary ">Afficher</a>

									<a href="{{ path('app_admin_categorie_restaurant_edit', {'id': categorie_restaurant.id}) }}" class="btn btn-warning ">Modifier</a>
								</td>


								<td>
									<a href="{{ path('app_admin_restaurant_categorie', {'id': categorie_restaurant.id}) }}" class="btn btn-light">Restaurants</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="3">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_categorie_restaurant_new') }}" class="btn btn-success ">Créer catégRestaurant</a>
			</div>
		</div>
	</div>
{% endblock %}
