{% extends 'base.html.twig' %}

{% block title %}CategorieRestaurant index{% endblock %}

{% block body %}
    <h1>CategorieRestaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_cuisine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_restaurant in categorie_restaurants %}
            <tr>
                <td>{{ categorie_restaurant.id }}</td>
                <td>{{ categorie_restaurant.typeCuisine }}</td>
                <td>
                    <a href="{{ path('app_admin_categorie_restaurant_show', {'id': categorie_restaurant.id}) }}">show</a>
                    <a href="{{ path('app_admin_categorie_restaurant_edit', {'id': categorie_restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_categorie_restaurant_new') }}">Create new</a>
{% endblock %}
