{% extends 'base.html.twig' %}

{% block title %}Giftcard index{% endblock %}

{% block body %}
    <h1>Giftcard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Carte</th>
                <th>Valeur</th>
                <th>Image</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for giftcard in giftcards %}
            <tr>
                <td>{{ giftcard.id }}</td>
                <td>{{ giftcard.carte }}</td>
                <td>{{ giftcard.valeur }}</td>
                <td>{{ giftcard.image }}</td>
                <td>{{ giftcard.prix }}</td>
                <td>
                    <a href="{{ path('app_cadeau_show', {'id': giftcard.id}) }}">show</a>
                    <a href="{{ path('app_cart_add', {'id': giftcard.id}) }}" class="btn btn-success">Ajouter au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
