{% extends 'base.html.twig' %}

{% block title %}Giftcard{% endblock %}

{% block body %}
    <h1>Giftcard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ giftcard.id }}</td>
            </tr>
            <tr>
                <th>Carte</th>
                <td>{{ giftcard.carte }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ giftcard.valeur }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ giftcard.image }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ giftcard.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cadeau_index') }}">back to list</a>

{% endblock %}
