{% block section_carousel %}
	<h2 class=" mb-0">Nos dernières sélections de restaurants !</h2>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="card-deck">
					{% for restaurant in carousel_restaurants  %}
						<div class="card" style="width: 10rem;">
							<img class="card-img-top" src="{{asset('upload/' ~ restaurant.image)}}" alt="Image du restaurant">

							<div class="card-body">
								<div class="h5 card-title">{{ restaurant.nom }}</div>
								<small class="card-text">
									{{ restaurant.codePostal }},
									{{ restaurant.ville }}
								</small>
								<div class="card_favoris">
									<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
										Découvrir...
									</a>
									<a type="button" id="addFav" href="{{ path('app_profile_control_favoris', {'id': restaurant.id}) }}">
										<i class="fa-solid fa-xl fa-star"></i>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="carousel-item">
				<div class="card-deck">
					{% for restaurant in carousel_restaurants %}
						<div class="card" style="width: 10rem;">
							<img class="card-img-top" src="{{asset('upload/' ~ restaurant.image)}}" alt="Image du restaurant">

							<div class="card-body">
								<div class="h5 card-title">{{ restaurant.nom }}</div>

								<small class="card-text">
									{{ restaurant.codePostal }},
									{{ restaurant.ville }}
								</small>
								<div class="card_favoris">
									<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
										Découvrir...
									</a>
									<a type="button" id="addFav" href="{{ path('app_profile_control_favoris', {'id': restaurant.id}) }}">
										<i class="fa-solid fa-xl fa-star"></i>
									</a>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="carousel-item">
				<div class="card-deck">
					{% for restaurant in carousel_restaurants %}
						<div class="card" style="width: 10rem;">
							<img class="card-img-top" src="{{asset('upload/' ~ restaurant.image)}}" alt="Image du restaurant">

							<div class="card-body">
								<div class="h5 card-title">{{ restaurant.nom }}</div>

								<small class="card-text">
									{{ restaurant.codePostal }},
									{{ restaurant.ville }}
								</small>
								<div class="card_favoris">
									<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
										Découvrir...
									</a>
									<a type="button" id="addFav" href="{{ path('app_profile_control_favoris', {'id': restaurant.id}) }}">
										<i class="fa-solid fa-xl fa-star"></i>
									</a>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" href="#carouselExampleControls" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="fa-solid fa-circle-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Précédent</span>
		</button>
		<button class="carousel-control-next" href="#carouselExampleControls" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="fa-solid fa-circle-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</button>

	</div>

	
{% endblock %}
