{% extends 'base.html.twig' %}

{% block title %}
	Index LigneCommande
{% endblock %}


{% block body %}

	<div class="bg_admin">

		<h1>LigneCommande index</h1>
		<div class="container">

			<p>Gérer les lignes de commandes</p>

			<div class="table-responsive-lg">
				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">

					<thead>
						<tr>
							<th>Id</th>
							<th>Quantite</th>
							<th>Prix</th>
							<th>Produit</th>
							<th>Commande</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for ligne_commande in lignes_commande %}
							<tr>
								<td>
									{{ ligne_commande.id }}
								</td>
								<td>
									{{ ligne_commande.quantite }}
								</td>
								<td>
									{{ ligne_commande.prix }}
								</td>
								<td>
									{{ ligne_commande.produit }}
								</td>
								<td>
									{# {{ commande.reference }} #}
								</td>
								{# <td>
																																																																		<a href="{{ path('app_admin_ligne_commande_index', {'id': ligne_commande.id}) }}">
																																																																			{{ ligne_commande.commande }}
																																																																		</a>
																																																																	</td> #}

								<td>
									<a href="{{ path('app_admin_ligne_commande_show', {'id': ligne_commande.id}) }}" class="btn btn-primary">Afficher</a>

									<a href="{{ path('app_admin_ligne_commande_edit', {'id': ligne_commande.id}) }}" class="btn btn-warning">Modifier</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_ligne_commande_new') }}" class="btn btn-light">Créer nouvelle LigneCommande</a>
			</div>

		</div>
	</div>
{% endblock %}
