{% extends 'base.html.twig' %}

{% block title %}
	Afficher LigneCommande
{% endblock %}


{% block body %}
	<div class="bg_admin">

		<h1>Afficher LigneCommande</h1>

		<div class="container">
			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<tbody>
						<tr>
							<th scope="col">Id ligneCommande</th>
							<td>{{ ligne_commande.id }}</td>
						</tr>
						<tr>
							<th scope="col">Id commande</th>
							<td>
								{# <a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}"> #}

								{{ ligne_commande.commande.id }}
								{# </a> #}
							</td>
						</tr>
						<tr>
							<th scope="col">Ref. commande</th>
							<td>
								{{ commande.reference }}
							</td>

						</tr>
						<tr>
							<th scope="col">Produit</th>
							<td class="d-flex flex-column">

								<img src="{{asset('upload/' ~ ligne_commande.produit.image)}}" width="150">
								<p class="my-3 h5">
									{{ ligne_commande.produit }}
								</p>
							</td>
						</tr>
						<tr>
							<th scope="col">Quantite</th>
							<td>{{ ligne_commande.quantite }}</td>
						</tr>
						<tr>
							<th scope="col">Prix</th>
							<td>{{ ligne_commande.prix }}€</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="d-flex justify-content-center flex-wrap">

				<a href="{{ path('app_admin_ligne_commande_index') }}" class="btn btn-light">Retour index LigneCommande</a>

				<a href="{{ path('app_admin_ligne_commande_edit', {'id': ligne_commande.id}) }}" class="btn btn-warning">Modifier</a>

				{{ include('admin_ligne_commande/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
