{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
	<section class="page_contact_container">
		<h1 class="position_center">{{reset_h1}}</h1>

		<div class="text-center">
			<p>
				Donc... vous avez oublié votre mot de passe ?
			</p>
			<img class="rounded mx-auto d-block" src="{{ asset('assets/img/confused.gif') }}" alt="Meme d'expression de confusion (Confused math lady meme)">
			<p>
				<br>
				Aïe, c'est embêtant. Mais pas d'inquiétude !
			</p>
		</div>

		<div class="row g-3">
			<p class="text-center">
				Faites simplement une demande de réinitialisation de mot de passe en remplissant le formulaire ci-dessous :
			</p>
			{# formulaire de réinitialisation #}
			{{ form_start(requestForm) }}
			<div class="col-md-12">
				<label for="email" class="form-label">
					Email*
				</label>
				{{ form_widget(requestForm.email) }}
				<small class="info_detail">
					*Indiquez votre adresse e-mail pour recevoir le lien de réinitialisation de votre mot de passe
				</small>
			</div>

			{% for flash_error in app.flashes('reset_password_error') %}
				<small class="alert alert-danger bg-danger text-white" role="alert">{{ flash_error }}</small>
			{% endfor %}

<button class="btn btn-lg col-md-12">Envoyer l'email de réinitialisation</button>


			{{ form_end(requestForm) }}
			{# fin de formulaire de réinitialisation #}
		</div>
	</section>
{% endblock %}
