{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié ?
{% endblock %}

{% block metadesc %}
	Mot de passe oublié ? Nous vous enverrons un lien directement sur votre adresse e-mail liée à un compte Roots existant pour que vous puissiez réinitialiser votre mot de passe.
{% endblock %}

{% block body %}
	<h1>
		Réinitialiser son mot de passe
	</h1>

	<section class="bg-roots-yellow-linear text-center">

		<p class="h4 my-2">
			Vous avez oublié votre mot de passe ?
		</p>

		<img class="rounded-3 mx-auto m-3 " src="{{ asset('img/confused.gif') }}" alt="Meme, expression de confusion (Confused math lady meme)">
	
<p class="h5 mb-3">
			Pas d'inquiétude !
		</p>
<div class=" bg-roots-yellow-form rounded-3">


			<p class="my-4 text-center">
				Recevez les instructions de réinitialisation de mot de passe, en indiquant votre adresse email ci-dessous :
			</p>

			{% for flash_error in app.flashes('reset_password_error') %}
				<p class="d-flex justify-content-center">
					<small class="alert alert-danger bg-danger font-weight-bold mb-0 p-2" role="alert">
						{{ flash_error }}
					</small>
				</p>
			{% endfor %}

			{# FORM REQUEST RESET PASSWORD #}
			{{ form_start(requestForm, 

		) }}


			<div class="col-md-10 mx-auto text-start">

				<label for="email" class="form-label">
					Email
				</label>

				{{ form_widget(requestForm.email) }}

				<p class="form-text mb-0 help-text">
					Indiquez votre adresse e-mail pour recevoir le lien de réinitialisation de votre mot de passe
				</p>

			</div>

			<button class="btn btn-success my-3">
				Envoyer l'email
			</button>

			{{ form_end(requestForm) }}
		</div>
	</section>
{% endblock %}
