{% extends 'base.html.twig' %}

{% block title %}
	Conditions Générales d'Utilisation
{% endblock %}

{% block metadesc %}
	Découvrez toutes les Conditions Générales d'Utilisation applicables lors de l'utilisation du site Roots et de ses services.
{% endblock %}

{% block body %}
	<section id="legal">
		<h1>Conditions Générales d'Utilisation</h1>

		<p class="text-center">(En vigueur au 01/05/2022)</p>


		<nav class=" sticky-top navbar-expand-lg navbar-light bg-warning bg-opacity-50">

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a href="#article-1" class="nav-link">Champ d'application</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-2">Prix</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-3">Commandes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-3bis">Espace Client - Compte</a>
					</li>
				</ul>
			</div>
		</nav>


		<div class="p-4 m-3 bg-success bg-opacity-10 rounded-3 w-75 ">

			<article id="article-1">
				<h2>Article 1 - Objet
				</h2>
				<p>
					Les présentes « Conditions Générales d'Utilisation » ont pour objet l'encadrement juridique de l’utilisation du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					et de ses services.
					<br>
					Ce contrat est conclu entre :
					<ul>
						<li style="list-style-type: disc;">
							Le gérant du site internet, ci-après désigné « l’Éditeur »
						</li>
						<li style="list-style-type: disc;">
							Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur »
						</li>
					</ul>
					<br>
					Les Conditions Générales d'Utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
				</p>
			</article>
			<article id="article-2">
				<h2>
					Article 2 - Mentions légales
				</h2>
				<p>
					<ul>
						<li style="list-style-type: disc;">
							Pour les personnes morales :
							<br>
							Le site
							<a href="{{path('app_home')}}">www.leroots.fr</a>
							est édité par la société Roots / TAVARES VAZ Justine, SARL (fictif) au capital de XXXXX €, dont le siège social est situé au :
							<br>
							8 rue Jean Quarré,
							<br>
							75000 Paris - France.
							<br>
							La société est représentée par TAVARES VAZ Justine.
						</li>

						<li style="list-style-type: disc;">

							Pour les personnes physiques :
							<ul>
								<li>
									Le site
									<a href="{{path('app_home')}}">www.leroots.fr</a>
									est édité par TAVARES VAZ Justine, domiciliée au 3 rue Jean Quarré, 75000 Paris - France.
								</li>
							</ul>
						</li>
					</ul>
				</p>
			</article>
			<article id="article-3">
				<h2>
					Article 3 - Accès aux services
				</h2>
				<p>
					L’Utilisateur du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					a accès aux services suivants :
					<ul>
						<li style="list-style-type: disc">
							Commander des livres de recettes de cuisines africaines et caribéennes, publiés par des auteurs/autrices et maisons d'éditions non affiliés à Roots.
						</li>
						<li style="list-style-type: disc">
							Accéder à des informations relatives à des restaurants spécialisés dans les gastronomies africaines et caribéennes.
						</li>
						<li style="list-style-type: disc">
							Accéder à des informations relatives à des types de régimes alimentaires spécifiques.
						</li>
					</ul>

					En aucun cas, la société Roots ne saurait être associée aux prestations, recettes et opinions provenant des auteurs et de leurs oeuvres, des restaurateurs et de leurs personnel, pour chaque recommendation présente sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Le Site ne garantit aucunement et de quelque façon que ce soit le résultat des recettes qui sont communiquées dans les livres disponibles sur le site.
					<br>
					Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site.
					<br>
					Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.
					<br>
					Les services suivants sont accessibles pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il est identifié à l’aide de ses identifiants de connexion) :

					<ul>
						<li style="list-style-type: disc">
							Commander des livres de recettes de cuisines africaines et caribéennes, publiés par des auteurs/autrices et maisons d'éditions non affiliés à Roots.
						</li>
					</ul>

					Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.

				</p>
			</article>
			<article id="article-4">
				<h2>
					Article 4 - Responsabilité de l'Utilisateur
				</h2>
				<p>
					L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe sur le site.
					<br>
					Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.
					<br>
					L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.
					<br>
					Le site permet aux Utilisateurs de :

					<ul>
						<li style="list-style-type: disc">
							Contacter l'entreprise Roots via un formulaire de contact dédié aux questions, aides, etc.
						</li>
						<li style="list-style-type: disc">
							Contacter l'entreprise Roots via un formulaire de contact dédié aux recommendations de restaurants, à titre personnel, ce qui correspond au principe du bouche-à-oreille.
						</li>
					</ul>
					L'Utilisateur s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces prises de contact (hors SAV) soient modérées ou ignorées par l’Éditeur, sans obligation de justification.
					<br>
					En communiquant ses recommendations sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa recommandation, directement ou par un tiers autorisé.
					<br>
					L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa recommendation, et à l'inverse, l'Editeur s'engage à préserver l'anonymat de l'Utilisateur si celui-ci le souhaite et le spécifie.
				</p>
			</article>
			<article id="article-5">
				<h2>
					Article 5 - Responsabilité de l'Editeur
				</h2>
				<p>
					Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
					<br>
					De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
					<br>
					Le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
					<br>
					L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.
					<br>

				</p>
			</article>
			<article id="article-6">
				<h2>Article 6 - Propriété intellectuelle</h2>
				<p>
					Le contenu (logos, textes, éléments graphiques, vidéos, etc.) du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					est la propriété de l'Editeur et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.
					<br>
					Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
					<br>
					L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.
					<br>
					Ces derniers peuvent être utilisés par les Utilisateurs à des fins privées ; tout usage commercial est interdit.
					<br>
					L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.
					<br>
					L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les Utilisateurs, et ce sans justification.
				</p>
			</article>
			<article id="article-7">
				<h2>
					Article 7 - Données personnelles
				</h2>
				<p>
					L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.
					<br>

					L’adresse électronique (email) de l’Utilisateur pourra notamment être utilisée par le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					pour la communication d’informations diverses et la gestion du compte.
					<br>


					<a href="{{path('app_home')}}">www.leroots.fr</a>
					garantie le respect de la vie privée de l’Utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
					<br>

					Le site est déclaré auprès de la CNIL sous le numéro suivant : XXXXXXXXXXXXXXXXXXXXX.
					<br>
					En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles.
					<br>
					Cf.
					<a href="{{path('app_cgv')}}#article-9">
						Article 9 des Condition Générales de Vente</a>
					pour plus d'informations relatives à vos Données personnelles.
				</p>
			</article>
			<article id="article-8">
				<h2>
					Article 8 - Liens hypertextes
				</h2>
				<p>
					Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de
					<a href="{{path('app_home')}}">www.leroots.fr</a>, qui n’a pas de contrôle sur ces liens, sites, et leur contenus.
					<br>
					Il est possible pour un tiers de créer un lien vers une page du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					sans autorisation expresse de l’éditeur.
				</p>
			</article>
			<article id="article-9">
				<h2>
					Article 9 - Évolution des C.G.U.
				</h2>
				<p>
					Le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.
				</p>
			</article>
			<article id="article-10">
				<h2>
					Article 10 - Durée du contrat
				</h2>
				<p>
					La durée du présent contrat est indéterminée.
					<br>
					Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.
				</p>
			</article>
			<article id="article-11">
				<h2>
					Article 11 - Droit applicable et juridiction compétente
				</h2>
				<p>
					Le présent contrat dépend de la législation française.
					<br>
					En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Paris sont compétents pour régler le contentieux.
				</p>
			</article>
			<hr>
			<p class="h5">
				Cf. les
				<a href="{{path('app_cgv')}}">
					Condition Générales de Vente</a>
				pour davantage d'informations.
			</p>
			<p class="small">
				Inspiré du modèle gratuit du site&nbsp<a href="https://www.codeur.com/blog/">Codeur.com</a>
			</p>
		</div>
	</section>
{% endblock %}
