{% extends 'base.html.twig' %}

{% block title %}
	Conditions Générales de Vente
{% endblock %}

{% block metadesc %}
	Découvrez toutes les Conditions Générales de Vente applicables lors de l'utilisation du site Roots et de ses services.
{% endblock %}

{% block body %}
	<section id="legal">
		<h1>Conditions Générales de Vente</h1>


		<p class="text-center">(En vigueur au 01/05/2022)</p>

		{# container flex en ligne #}
		{# <div class="d-flex flex-row justify-content-between"> #}
		{# navbar #}

			<nav class=" sticky-top navbar-expand-lg navbar-light bg-warning bg-opacity-50"> <div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a href="#article-1" class="nav-link">Champ d'application</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-2">Prix</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-3">Commandes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-3bis">Espace Client - Compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-4">Conditions de paiement</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-5">Livraisons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-6">Transfert de propriété</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-7">Droit de rétractation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-8">Responsabilité du Vendeur - Garanties</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-9">Données personnelles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-10">Propriété intellectuelle</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-11">Droit applicable - Langue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-12">Litiges</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-13">Évolution des C.G.V.</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-14">Durée du contrat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#article-15">Droit applicable et juridiction compétente</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="p-4 m-3 bg-success bg-opacity-10 rounded-3 w-75 ">

			<article>
				<h2 id="article-1">Article 1 - Champ d'application</h2>
				<p>
					Les présentes Conditions Générales de Vente (dites « CGV ») s'appliquent, sans restriction ni réserve à l'ensemble des ventes conclues par le Vendeur auprès d'acheteurs non professionnels (« Les Clients ou le Client »), désirant acquérir les produits proposés à la vente (« Les Produits ») par le Vendeur sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Les Produits proposés à la vente sur le site sont les suivants :
					<ul>
						<li style="list-style-type: disc">Livres de recettes de cuisines spécialisés en cuisines africaines et caribéennes,</li>
						<li style="list-style-type: disc">Bons cadeaux réservés à l'achat de livres de recettes sur le site</li>
					</ul>
					Les caractéristiques principales des Produits et notamment les spécifications, ilustrations et indications de dimensions ou de capacité des Produits, sont présentées sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					ce dont le client est tenu de prendre connaissance avant de commander.
					<br>
					Le choix et l'achat d'un Produit sont de la seule responsabilité du Client.
					<br>
					Les offres de Produits s'entendent dans la limite des stocks disponibles, tels que précisés lors de la passation de la commande.
					<br>
					Ces CGV sont accessibles à tout moment sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					et prévaudront sur toute autre document.
					<br>
					Le Client déclare avoir pris connaissance des présentes CGV et les avoir acceptées en cochant la case prévue à cet effet avant la mise en œuvre de la procédure de commande en ligne du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Sauf preuve contraire, les données enregistrées dans le système informatique du Vendeur constituent la preuve de l'ensemble des transactions conclues avec le Client.
					<br>
					Les coordonnées du Vendeur sont les suivantes :
					<ul class="px-5 font-weight-bold">
						<li>Roots / TAVARES VAZ Justine</li>
						<li>
							8 rue Jean Quarré,
							<br>
							75000 Paris - France
						</li>

						<li>Numéro d'immatriculation: XXXXXXXXXXX</li>
						<li>
							<i class="fa-solid fa-at"></i>
							<a href="mailto:contact@leroots.fr">contact@leroots.fr</a>
						</li>

						<li>
							<i class="fa-solid fa-phone"></i>
							<a href="tel:+33600000000">0600000000</a>
						</li>
					</ul>
				</p>
			</article>
			<article id="article-2">
				<h2>Article 2 - Prix</h2>
				<p>
					Les Produits sont fournis aux tarifs en vigueur figurant sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>, lors de l'enregistrement de la commande par le Vendeur.
					<br>
					Les prix sont exprimés en Euros, HT et TTC.
					<br>
					Les tarifs tiennent compte d'éventuelles réductions qui seraient consenties par le Vendeur sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Ces tarifs sont fermes et non révisables pendant leur période de validité mais le Vendeur se réserve le droit, hors période de validité, d'en modifier les prix à tout moment.
					<br>
					Les prix ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le site et calculés préalablement à la passation de la commande.
					<br>
					Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.
					<br>
					Une facture est établie par le Vendeur et remise au Client lors de la livraison des Produits commandés.
				</p>
			</article>
			<article id="article-3">

				<h2>Article 3 - Commandes</h2>
				<p>
					Il appartient au Client de sélectionner sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					les Produits qu'il désire commander, selon les modalités suivantes :
					<br>
					Le Client choisit un ou plusieurs Produits (livres de recettes et bons cadeaux) qu'il ajoute à son panier sur le site Roots.
					<br>
					Le Client pourra supprimer ou modifier la quantité du Produit avant de valider son panier de commande et d'accepter les présentes Conditions Générales de Vente.
					<br>
					Il rentrera ensuite ses coordonnées personnelles pour s'inscrire sur le site ou se connectera à son espace personnel sur le site. Après s'être connecté, le Client complètera les informations personnelles nécessaires liées au mode de livraison.
					<br>
					Après la validation des informations personnelles de connexion/d'inscription et les informations personnelles de livraison, il sera exigé du Client qu'il passe à l'étape de paiement de sa commande en entrant ses coordonnées bancaires, via le mode de paiement de son choix parmi la sélection proposée par Roots via les services de Stripe.
					<br>
					Après la validation de ses coordonnées bancaires et le paiement réalisé avec succès, la commande sera considérée comme définitive et validée, puis envoyée en base de données de l'entreprise Roots afin d'être traitée et expédiée dans les meilleurs délais à la destination de livraison indiquée par le Client.
					<br>
					Les offres de Produits sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles.
					<br>
					La vente ne sera considérée comme valide qu'après paiement intégral du prix. Il appartient au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.
					<br>
					Toute commande passée sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					constitue la formation d'un contrat conclu à distance entre le Client et le Vendeur.
					<br>
					Le Vendeur se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.
					<br>
					Le Client pourra suivre l'évolution de sa commande sur le site.
					<br>
					Toute annulation de la commande par le Client ne sera possible qu'avant la liaison des Produits (indépendamment des dispositions relatives à l'application ou non du droit de rétractation légal).
				</p>
			</article>
			<article id="article-3bis">

				<h2>
					Article 3 BIS - Espace Client - Compte
				</h2>
				<p>
					Afin de passer commande, le Client est invité à créer un compte (espace personnel).
					<br>
					Pour ce faire, il doit s'inscrire en remplissant le formulaire qui lui sera proposé au moment de sa commande et s'engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
					<br>
					Le Client est responsable de la mise à jour des informations fournies. Il lui est précisé qu'il peut les modifier en se connectant à son compte.
					<br>
					Pour accéder à son espace personnel et aux historiques de commandes le Client devra s'identifier à l'aide de son email et de son mot de passe, qui sont strictement personnels. À ce titre, le Client s'en interdit toute divulgation. Dans le cas contraire, il restera seul responsable de l'usage qui en sera fait.
					<br>
					Le Client pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel ou envoyant un email à :
					<a href="mailto:contact@leroots.fr">contact@leroots.fr</a>. Celle-ci sera effective dans un délai raisonnable.
					<br>
					En cas de non-respect des Conditions Générales de Vente et/ou d'utilisation, le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					aura la possibilité de suspendre, voire de fermer, le compte d'un client après mise en demeure adressée par voie électronique et restée sans effet.
					<br>
					Toute suppression de compte, quel qu'en soit le motif, engendre la suppression pure et simple de toutes informations personnelles du Client.
					<br>
					Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité du Vendeur.
					<br>
					La création du compte entraîne l'acceptation des présentes Conditions Générales de Vente.
				</p>
			</article>
			<article id="article-4">

				<h2>Article 4 - Conditions de paiement</h2>
				<p>
					Le prix est payé par voie de paiement sécurisé, selon les modalités suivantes :
					<ul>
						<li style="list-style-type: disc">
							paiement par carte bancaire
						</li>

						<li style="list-style-type: disc">
							paiement par virement bancaire sur le compte bancaire du Vendeur (dont les coordonnées sont communiquées au Client lors de la passation de la commande)
						</li>
					</ul>
					Le prix est payable comptant par le Client, en totalité au jour de la passation de la commande.
					<br>
					Les données de paiement sont échangées en mode crypté grâce au protocole défini par le prestataire de paiement agréé intervenant pour les transactions bancaires réalisées sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>.
					<br>
					Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif par le Vendeur des sommes dues.
					<br>
					Le Vendeur ne sera pas tenu de procéder à la délivrance des Produits commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions indiquées ci-dessus.
				</p>
			</article>

			<article id="article-5">

				<h2>Article 5 - Livraisons</h2>
				<p>
					Les Produits commandés par le Client seront livrés en France métropolitaine.
					<br>
					Les livraisons interviennent dans un délai de 3 jours ouvrés et 15 jours ouvrés.
					<br>
					La livraison est constituée par le transfert au Client de la possession physique ou du contrôle du Produit. Sauf cas particulier ou indisponibilité d'un ou plusieurs Produits, les Produits commandés seront livrés en une seule fois.
					<br>
					Le Vendeur s'engage à faire ses meilleurs efforts pour livrer les produits commandés par le Client dans les délais précisés ci-dessus.
					<br>
					Si les Produits commandés n'ont pas été livrés dans un délai de 5 jours ouvrés après le délai indicatif de livraison, pour toute autre cause que la force majeure ou le fait du Client, la vente pourra être annulée à la demande écrite du Client dans les conditions prévues aux articles L 216-2, L 216-3 et L241-4 du Code de la consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat, l'exclusion de toute indemnisation ou retenue.
					<br>
					Les livraisons sont assurées par un transporteur indépendant, à l'adresse mentionnée par le Client lors de la commande et à laquelle le transporteur pourra facilement accéder.
					<br>
					Lorsque le Client s'est lui-même chargé de faire appel à un transporteur qu'il choisit lui-même, la livraison est réputée effectuée dès la remise des Produits commandés par le Vendeur au transporteur qui les a acceptés sans réserves. Le Client reconnaît donc que c'est au transporteur qu'il appartient d'effectuer la livraison et ne dispose d'aucun recours en garantie contre le Vendeur en cas de défaut de livraison des marchandises transportées.
					<br>
					En cas de demande particulière du Client concernant les conditions d'emballage ou de transport des produits	commandés, dûment acceptées par écrit par le Vendeur, les coûts qui y sont liés feront l'objet d'une facturation spécifique complémentaire, sur devis préalablement accepté par écrit par le Client.
					<br>
					Le Client est tenu de vérifier l'état des produits livrés. Il dispose d'un délai de 7 jours ouvrés à compter de la livraison pour formuler des réclamations par:
					<ul>
						<li style="list-style-type: disc">
							Formulaire de contact,  accompagné de tous les justificatifs y afférents (photos notamment).
						</li>
						<li style="list-style-type: disc">
							Email, accompagné de tous les justificatifs y afférents (photos notamment).
						</li>
					</ul>
					Passé ce délai et à défaut d'avoir respecté ces formalités, les Produits seront réputés conformes et exempts de tout vice apparent et aucune réclamation ne pourra être valablement acceptée par le Vendeur.
					<br>
					Le Vendeur remboursera ou remplacera dans les plus brefs délais et à ses frais, les Produits livrés dont les défauts de conformité ou les vices apparents ou cachés auront été dûment prouvés par le Client, dans les conditions prévues aux articles L 217-4 et suivants du Code de la consommation et celles prévues aux présentes CGV. Le transfert des risques de perte et de détérioration s'y rapportant, ne sera réalisé qu'au moment où le Client prendra physiquement possession des Produits.
					<br>
					Les Produits voyagent donc aux risques et périls du Vendeur, sauf lorsque le Client aura lui-même choisi le transporteur. À ce titre, les risques sont transférés au moment de la remise du bien au transporteur.
				</p>
			</article>
			<article id="article-6">

				<h2>Article 6 - Transfert de propriété
				</h2>
				<p>
					Le transfert de propriété des Produits du Vendeur au Client ne sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle que soit la date de livraison desdits Produits.
				</p>
			</article>
			<article id="article-7">

				<h2>Article 7 - Droit de rétractation
				</h2>
				<p>
					Selon les modalités de l'article L221-18 du Code de la Consommation
					<span class=" font-italic">
						« Pour les contrats prévoyant la livraison régulière de biens pendant une période définie, le délai court à compter de la réception du premier bien. »</span>
					<br>
					Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation ci-joint et également disponible sur le site ou de toute autre déclaration, dénuée d'ambiguïté, exprimant la volonté de se rétracter et des CGV.
					<br>
					Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.
					<br>
					Les Produits endommagés, salis ou incomplets ne sont pas repris.
					<u>Les frais de retour sont à la charge du Client.</u>
					<br>
					L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de 14 jours à compter de la réception, par le Vendeur, des Produits retournés par le Client dans les conditions prévues au présent article.
					<br>
					<div class="font-weight-bold">
						<u>
							Annexe I - Formulaire de rétractation (format .pdf)
						</u>
					</div>
					<div>
						Ci-joint, formulaire à remplir et renvoyer :
						<a class=" btn btn-success mx-auto" href="{{asset('img/Annexe_Retractation.pdf')}}" download>
							Télécharger le formulaire
						</a>

					</div>
				</p>
			</article>
			<article id="article-8">

				<h2>Article 8 - Responsabilité du Vendeur - Garanties
				</h2>
				<p>
					Les Produits fournis par le Vendeur bénéficient :

					<ul>
						<li style="list-style-type: disc">
							de la garantie légale de conformité, pour les Produits défectueux, abimés ou endommagés ou ne correspondant pas à la commande,
						</li>

						<li style="list-style-type: disc">
							de la garantie légale contre les vices cachés provenant dun défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation,
						</li>
					</ul>
					<h3 class="font-weight-bold">
						<u>
							Dispositions relatives aux garanties légales
						</u>
					</h3>
					<div class="font-weight-bold">
						<u>
							Article L217-4 du Code de la consommation
						</u>
					</div>

					<span class="font-italic">
						« Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou à été réalisée sous sa responsabilité. »
					</span>
					<div class="font-weight-bold">
						<u class="text-center">
							Article L217-5 du Code de la consommation
						</u>
					</div>
					<span class="font-italic">
						« Le bien est conforme au contrat :
						<ol>
							<li>S'il est propre à l'usage habituellement attendu d'un bien semblable et le cas échéant :
								<ul>
									<li style="list-style-type: disc">s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;</li>
									<li style="list-style-type: disc">s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;</li>
								</ul>
							</li>
							<li>Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur porté à la connaissance du vendeur et que ce dernier a accepté. »</li>
						</ol>
					</span>
					<div class="font-weight-bold">
						<u class="text-center">
							Article L217-12 du Code de la consommation
						</u>
					</div>
					<span class="font-italic">
						« L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien. »
					</span>
					<div class="font-weight-bold">
						<u>
							Article 1641 du Code civil
						</u>
					</div>
					<span class="font-italic">
						« Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus. »
					</span>
					<div class="font-weight-bold">
						<u>
							Article 1648 alinéa 1er du Code civil
						</u>
					</div>
					<span class="font-italic">
						« L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice. »
					</span>
					<div class="font-weight-bold">
						<u>
							Article L217-16 du Code de la consommation.
						</u>
					</div>

					<span class="font-italic">
						« Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention. »
					</span>
					<br>
					Afin de faire valoir ses droits, le Client devra informer le Vendeur, par écrit (mail ou courrier), de la non-conformité des Produits ou de l'existence des vices cachés à compter de leur découverte.
					<br>
					Le Vendeur remboursera, remplacera ou fera réparer les Produits ou pièces sous garantie jugés non conformes ou défectueux.
					<br>
					Les frais d'envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs dans la limite de 10€ (dix euros).
					<br>
					Les remboursements, remplacements ou réparations des Produits jugés non conformes ou défectueux seront effectués dans les meilleurs délais et au plus tard dans les 15 à 30 jours jours suivant la constatation par le Vendeur du défaut de conformité ou du vice caché. Ce remboursement pourra être fait par virement ou chèque bancaire.
					<br>
					La responsabilité du Vendeur ne saurait être engagée dans les cas suivants:
					<ul>
						<li style="list-style-type: disc">
							non respect de la législation du pays dans lequel les produits sont liés, qu'il appartient au Client de vérifer,
						</li>

						<li style="list-style-type: disc">
							en cas de mauvaise utilisation, d'utilisation à des fins professionnelles, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure,
						</li>
						<li style="list-style-type: disc">
							Les photographies et graphismes présentés sur le site ne sont pas contractuels et ne sauraient engager la responsabilité du Vendeur.
						</li>
					</ul>
					La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.
				</p>
			</article>
			<article id="article-9">

				<h2>
					Article 9 - Données personnelles
				</h2>

				<p>
					Le Client est informé que la collecte de ses données à caractère personnel est nécessaire à la vente des Produits par le Vendeur ainsi qu'à leur transmission à des tiers à des fins de livraison des Produits. Ces données à caractère personnel sont récoltées uniquement pour l'exécution du contrat de vente.

					<div class="font-weight-bold">
						9.1 Collecte des données à caractère personnel
					</div>
					Les données à caractère personnel qui sont collectées sur le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					sont les suivantes :
					<ul>
						<li>
							<div class="font-weight-bold">
								Ouverture de compte
							</div>
							Lors de la création du compte Client / utilisateur :
							<ul>
								<li style="list-style-type: disc">Nom, prénom et adresse email
								</li>
							</ul>
						</li>
						<li>
							<div class="font-weight-bold">
								Paiement
							</div>
							Dans le cadre du paiement des Produits proposés sur le site
							<a href="{{path('app_home')}}">www.leroots.fr</a>, celui-ci enregistre :
							<ul>

								<li style="list-style-type: disc">
									Des données financières relatives au compte bancaire ou à la carte de crédit du Client / utilisateur
								</li>
								<li style="list-style-type: disc">
									Nom, prénom, adresse postale, numéro de téléphone et adresse email
								</li>
							</ul>

						</li>
					</ul>
					<div class="font-weight-bold">
						9.2 Destinataires des données à caractère personnel
					</div>

					Les données à caractère personnel sont utilisées par le Vendeur et ses co-contractants pour l'exécution du contrat et pour assurer l'efficacité de la prestation de vente et de délivrance des Produits.
					<br>
					La ou les catégorie(s) de co-contractant(s) est (sont) :

					<ul>

						<li style="list-style-type: disc">
							Les prestataires de transport
						</li>
						<li style="list-style-type: disc">
							Les prestataires établissements de paiement
						</li>
					</ul>

					<div id="article-9.3" class="font-weight-bold">
						9.3 Responsable de traitement
					</div>
					Le responsable de traitement des données est le Vendeur, au sens de la loi Informatique et libertés et à compter du 25 mai 2018 du Règlement 2016/679 sur la protection des données à caractère personnel.

					<div class="font-weight-bold">
						9.4 Limitation du traitement
					</div>

					Sauf si le Client exprime son accord exprès, ses données à caractère personnelles ne sont pas utilisées à des fins publicitaires ou marketing.

					<div class="font-weight-bold">
						9.5 Durée de conservation des données
					</div>

					Le Vendeur conservera les données ainsi recueillies pendant un délai de 5 ans, couvrant le temps de la prescription de la responsabilité civile contractuelle applicable.
					<div class="font-weight-bold">
						9.6 Sécurité et confidentialité
					</div>
					Le Vendeur met en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois il est à signaler qu'Internet n'est pas un environnement complètement sécurisé et le Vendeur ne peut garantir la sécurité de la transmission ou du stockage des informations sur Internet.

					<div class="font-weight-bold">
						9.7 Mise en œuvre des droits des Clients et utilisateurs
					</div>
					En application de la réglementation applicable aux données à caractère personnel, les Clients et utilisateurs du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					disposent des droits suivants :
					<ul>
						<li style="list-style-type: disc">
							Ils peuvent mettre à jour ou supprimer les données qui les concernent de la manière suivante :
						</li>

						<ul>
							<li style="list-style-type: circle">
								en se connectant à son espace personnel, sur l'onglet "Paramètres" de son compte
							</li>
							<li style="list-style-type: circle">
								Effectuer une demande de suppression via le formulaire de contact ou par mail
							</li>
							<li style="list-style-type: circle">
								Ils peuvent supprimer leur compte en écrivant à l'adresse mail indiquée à l'<a href="#article-9.3">article 9.3 « Responsable de traitement »</a>.
							</li>
							<li style="list-style-type: circle">
								Ils peuvent exercer leur droit d'accès pour connaître les données personnelles les concernant en écrivant à l'adresse mail indiquée à l'<a href="#article-9.3">article 9.3 « Responsable de traitement »</a>.
							</li>
							<li style="list-style-type: circle">
								Si les données à caractère personnel détenues par le Vendeur sont inexactes, les Clients peuvent demander la mise à jour des informations en écrivant à l'adresse indiquée à l'<a href="#article-9.3">article 9.3 « Responsable de traitement »</a>.
							</li>
							<li style="list-style-type: circle">
								Ils peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données en écrivant à l'adresse indiquée à l'<a href="#article-9.3">article 9.3 « Responsable de traitement »</a>.
							</li>
							<li style="list-style-type: circle">
								Ils peuvent également solliciter la portabilité des données détenues par le Vendeur vers un autre prestataire
							</li>
							<li style="list-style-type: circle">
								Enfin, ils peuvent s'opposer au traitement de leurs données par le Vendeur
							</li>
						</ul>
					</ul>
					Ces droits, dès lors qu'ils ne s'opposent pas à la finalité du traitement, peuvent être exercés en adressant une demande par courrier ou par email au Responsable de traitement dont les coordonnées sont indiquées ci-dessus.
					<br>
					Le responsable de traitement doit apporter une réponse dans un délai maximum d'un mois.
					<br>
					En cas de refus de faire droit à la demande du Client, celui-ci doit être motivé.
					<br>
					Le Client est informé qu'en cas de refus, il peut introduire une réclamation auprès de la CNIL (3 place de Fontenoy, 75007 PARIS) ou saisir une autorité judiciaire.
					<br>
					Le Client peut être imité à cocher une case au titre de laquelle il accepte de recevoir des mails à caractères informatifs et publicitaires de la part du Vendeur. Il aura toujours la possibilité de retirer son accord à tout moment en contactant le Vendeur (coordonnées ci-dessus) ou en suivant le lien de désabonnement.
					<br>
					Cf.
					<a href=" {{path('app_cgu')}}#article-7">
						Article 7 des Condition Générales d'Utilisation</a>
					pour plus d'informations relatives à vos Données personnelles.
				</p>
			</article>
			<article id="article-10">

				<h2>Article 10 - Propriété intellectuelle</h2>
				<p>
					Le contenu (logos, textes, éléments graphiques, vidéos, etc.) du site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					est la propriété du Vendeur et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.
					<br>
					Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
					<br>
					Le Client devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.
					<br>
					Ces derniers peuvent être utilisés par les Utilisateurs à des fins privées ; tout usage commercial est interdit.
					<br>
					L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.
					<br>
					L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.
				</p>
			</article>
			<article id="article-11">

				<h2>Article 11 - Droit applicable - Langue</h2>
				<p>
					Les présentes CGV et les opérations qui en découlent sont régies et soumises au droit français.
					<br>
					Les présentes CGV sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français ferait foi en cas de litige.
				</p>
			</article>
			<article id="article-12">

				<h2>Article 12 - Litiges</h2>
				<p>
					Pour toute réclamation, merci de contacter le service clientèle à l'adresse mail du Vendeur indiquée à l'Article 1 des présentes CGV, ou via le formulaire de contact du site.
					<br>
					Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
					<br>
					En l'espèce, le médiateur désigné est :
					<ul class="px-5 font-weight-bold">
						<li>
							Mediation du Commerce Coopératif et Associé (MCCA)
						</li>
						<li>
							7, rue de Lourmel
							<br>
							75015 Paris - France
						</li>
						<li>
							<a href="https://www.mcca-mediation.fr">mcca-mediation.fr</a>

						</li>
						<li>
							<i class="fa-solid fa-at"></i>
							<a href="mailto:servicemediation@meca-mediation.fr">servicemediation@mcca-mediation.fr</a>
						</li>
					</ul>
					Le Client est également informé qu'il peut recourir à la
					<a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show">plateforme de Règlement en Ligne des Litiges (RLL)</a>.
					<br>
					Tous les litiges auxquels les opérations d'achats et de ventes conclues en application des présentes C.G.V. et qui	n'auraient pas fait l'objet d'un règlement amiable avec le Vendeur ou par médiation, seront soumis aux tribunaux compétents dans les conditions de droit commun.
				</p>
			</article>
			<article id="article-13">
				<h2>
					Article 13 - Évolution des C.G.V.
				</h2>
				<p>
					Le site
					<a href="{{path('app_home')}}">www.leroots.fr</a>
					se réserve le droit de modifier les clauses de ces Conditions Générales de Vente à tout moment et sans justification.
				</p>
			</article>
			<article id="article-14">
				<h2>
					Article 14 - Durée du contrat
				</h2>
				<p>
					La durée du présent contrat est indéterminée.
					<br>
					Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.
				</p>
			</article>
			<article id="article-15">
				<h2>
					Article 15 - Droit applicable et juridiction compétente
				</h2>
				<p>
					Le présent contrat dépend de la législation française.
					<br>
					En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Paris sont compétents pour régler le contentieux.
				</p>
			</article>
			<hr>
			<p class="h5">
				Cf. les
				<a href="{{path('app_cgu')}}">
					Condition Générales d'utilisation</a>
				pour davantage d'informations.
			</p>
			<p>
				<small class=" text-black-50">Réalisé sur
					<a href="https://legalplace.fr">legalplace.fr</a>
				</small>
			</p>
		</div>
		{# </div> #}

	</section>

{% endblock %}
