{% extends 'base.html.twig' %}

{% block title %}Types d'alimentation - Roots
{% endblock %}

{% block body %}
	<h1>Les livres de recettes par types d'alimentations</h1>

	<p class="bg-light p-3 rounded-3 text-center">
		Retrouvez les restaurants et livres de recettes disponibles sur Roots qui proposent des plats et recettes en accord avec votre régime alimentaire !
	</p>

	<section
		class="produits_container">

		{# nouvelle variable in variable du controller #}
		{% for nutrition in nutrition %}
			<div class="card">
				<div class="card-img-top">
					<a class="card_container" href="{{ path('app_produit_ByCateg_nutrition', {'id': nutrition.id}) }}">
						<img src="{{asset('upload/' ~ nutrition.image)}}" alt="Image de la catégorie">
					</a>
				</div>

				<div class="card-body">
					<a class="card_container" href="{{ path('app_produit_ByCateg_nutrition', {'id': nutrition.id}) }}">
						<h5 class="card-title">{{ nutrition.regime }}</h5>
					</a>
					<small>
						{{ nutrition.definition}}
					</small>
					<div class="text-center mt-1">
						<a class="btn btn-outline-danger" href="{{ path('app_produit_ByCateg_nutrition', {'id': nutrition.id}) }}">
							Voir les livres
						</a>
<a class="btn btn-outline-danger mt-2" href="{{ path('app_restaurant_ByCateg_nutrition', {'id': nutrition.id}) }}">

							Voir les restaurants
						</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="bg-light p-3 rounded-3">
				<p>Pas de résultat</p>
			</div>
		{% endfor %}
	</section>

{% endblock %}
