<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 shadow">

	<a class="navbar-brand col-md-3 col-lg-2 px-2" href="{{path('app_admin_dashboard')}}">Roots - Admin</a>
	<button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<input class="form-control w-50 mx-auto" type="text" placeholder="Recherche" aria-label="Search">

	<div class="navbar-nav ">
		<div class="nav-item m-auto">

			<a class="nav-link" href=" {{ path('app_logout') }} ">
				Déconnexion
				<i class="fa-solid fa-arrow-right-from-bracket mx-1"></i>
			</a>
		</div>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse show" style="background-color: #DBDBDB;">
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_boutique_index')}}">
							Boutique: catégories
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_produit_index')}}">
							Boutique: produits
						</a>
					</li>
					<hr>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_categorie_restaurant_index')}}">
							Restaurant: catégories
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_restaurant_index')}}">
							Restaurant: restaurants
						</a>
					</li>
					<hr>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_commande_index')}}">
							Commandes clients/factures
						</a>
					</li>
					{# <li class="nav-item">
																					<a class="nav-link" href="{{path('app_admin_ligne_commande_index')}}">
																						Lignes commandes/détail commande
																					</a>
																				</li> #}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_admin_user_index')}}">

							Tous les utilisateurs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							Integrations
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main></main>
	</div>
</div>
