{# <a href="{{path('app_home')}}" style="text-align:center;"> #}


<a class="logo_container" href="{{path('app_home')}}">
	<img class="logo_img" src="{{ asset('assets/img/logo_roots.png') }}" alt="Logo du site Roots">
</a>



	{# <img src="{{ image('@images/logo_roots.png') }}" alt=" logo du site roots" style="
						box-sizing: border-box;
						font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; max-width: 100%;
						border: none; height: 100px; width: 100px; text-align:center;">
</a> #}

<div class="submitted_form_container">
	<p>
		Bonjour,
		<br><br>
		Merci pour cette recommandation de restaurant !
		<br>
		L'équipe de Roots étudiera votre suggestion. Si votre recommandation nous semble pertinente, vous recevrez un petit cadeau dans votre boite mail :) !
		<br>
	</p>
	<p>
		Copie de votre message :
		<div class="contact_form_control_submitted_container">
			{# {{ valid_comment}} #}
		</div>
	</p>
</div>

<footer>
	<p>
		N'hésitez pas à
		<a href="{{path('app_contact')}}">nous contacter</a>
		si vous avez des questions.</p>
	<p>
		Un grand merci,
		<br>
		L'equipe Roots
	</p>
</footer>
