{% extends 'base.html.twig' %}

{% block title %}
	Recommander un restaurant
{% endblock %}

{% block metadesc %}
	Participez à notre sélection des meilleurs restaurants africains et caribéens ! Ce ne sont pas les bonnes adresses qui manquent. Faites-nous vos suggestions !
{% endblock %}


{% block body %}

	<section class="page_contact_container">

		<h1>
			Recommander un restaurant
		</h1>

		{% for message in app.flashes('uploadFile_error') %}
			<div class="alert alert-danger p-2 w-75 mx-auto text-center fade show align-items-center d-flex space-between" role="alert">
				<p class="mx-auto">
					{{ message }}
				</p>

				<button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>
		{% endfor %}

		{{ form_start(recommendForm) }}
		<div class="row g-3">
			<p class="small">
				*Champs obligatoires
			</p>

			{{ form_row(recommendForm.email, {
				'value': (app.user) ? app.user.email : '',
				'label' : 'Email*', 
				'row_attr' : {'class' : 'col-md-6'},
				} ) 
			}}

			{{ form_row(recommendForm.restaurant, { 
				'label' : 'Nom du restaurant*', 
				'row_attr' : {'class' : 'col-md-6 mb-3'},
				} ) 
			}}

			{{ form_row(recommendForm.message, { 
				'label' : 'Commentaire', 
				'row_attr' : {'class' : 'col-12'},
				} ) 
			}}

			{{ form_row(recommendForm.attachement, {
				'row_attr' : {'class' : 'col-sm-6 mb-3'},
			} ) }}

			{{ form_row(recommendForm.send, {
				'id': 'go-forward',
				'label' : 'Envoyer', 
				'row_attr' : {'class' : 'col-12 text-center mb-3'},
				} ) 
			}}

		</div>
		{{ form_end(recommendForm) }}

	</section>

{% endblock %}
