{% extends 'base.html.twig' %}

{% block title %}Admin - Tous les Restaurant - Roots
{% endblock %}

{% block body %}
	<h1>Tous les Restaurants</h1>
	<section class="container">
		<p>Gérer les restaurants disponibles</p>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Image</th>
					<th>Description</th>
					<th>Adresse</th>
					<th>Catégorie</th>
					<th>Contact</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for restaurant in restaurants %}
					<tr>
						<td>{{ restaurant.id }}</td>
						<td>{{ restaurant.nom }}</td>
						<td>
							<img src="{{asset('upload/' ~ restaurant.image)}}" width="150" height="100">
						</td>
						<td>{{ restaurant.description }}</td>
						<td>
						{{ restaurant.numRue }} <br>
						{{ restaurant.rue }} <br>
						{{ restaurant.ville }} <br>
						{{ restaurant.codePostal }} <br>
						{{ restaurant.pays }}
						</td>
						<td>{{ restaurant.categorie }}</td>
						<td>
						{{ restaurant.email }} <br>
						{{ restaurant.telephone }} <br>
						{{ restaurant.website }}
						</td>
						<td>
							<a href="{{ path('app_admin_restaurant_show', {'id': restaurant.id}) }}" class="btn btn-outline-info">Afficher</a>

							<a href="{{ path('app_admin_restaurant_edit', {'id': restaurant.id}) }}" class="btn btn-outline-warning mt-3">Modifier</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">Pas de résultat / aucun restaurant disponible</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_restaurant_new') }}" class="btn btn-outline-dark">Créer un nouveau restaurant</a>
	</section>
{% endblock %}
