{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Giftcard_valeur</th>
                <th>Livre_auteur</th>
                <th>Livre_edition</th>
                <th>Livre_resume</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.titre }}</td>
                <td>
                    <img src="{{asset('upload/' ~ produit.image)}}" width="150" height="100">
                </td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.giftcardValeur }}</td>
                <td>{{ produit.livreAuteur }}</td>
                <td>{{ produit.livreEdition }}</td>
                <td>{{ produit.livreResume }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('app_cart_add', {'id': produit.id}) }}" class="btn btn-md btn-outline-success">
                        <i class="fas fa-cart-shopping"></i>
                        Ajouter
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
