{% extends 'base.html.twig' %}

{% block title %}
	Livres de recettes - Roots
{% endblock %}

{% block body %}
	<h1>Les livres de recettes</h1>
	<section
		class="produits_container">
		{# nouvelle variable in variable du controller #}
		{% for produit in produits %}
<div class="card card-restaurant">


				<div class="card-img-top">
					<a class="card_container" href="{{ path('app_produit_show', {'id': produit.id}) }}">
						<img src="{{asset('upload/' ~ produit.image )}}" alt="Image du produit">
					</a>
				</div>

				<div class="card-body">
					<a class="card_container" href="{{ path('app_produit_show', {'id': produit.id}) }}">
						<h6 class="card-title">{{  produit.titre }}</h6>
					</a>
					<div class="card_favoris">
						<a class="card_container" href="{{ path('app_produit_show', {'id': produit.id}) }}">
							{{produit.prix }}
							€
						</a>
						<a href="{{ path('app_cart_add', {'id': produit.id}) }}" class="btn btn-md btn-outline-success">
							Ajouter
							<i class="fas fa-cart-shopping"></i>
						</a>

					</div>
				</div>
			</div>
		{% else %}
			<div class="bg-light p-3 rounded-3">
				<p>Pas de résultat</p>
			</div>
		{% endfor %}
	</section>
{% endblock %}
