{% extends 'base.html.twig' %}

{% block title %}
	Détails de commande
{% endblock %}

{% block metadesc %}
	Retrouvez vite toutes vos commandes passées sur le site Roots depuis votre profil personnel !
{% endblock %}

{% block body %}
	<h1>Commande n°{{ commande.reference }}</h1>

	<section class="container">
		<div class="table-responsive-lg">

			<table class="table text-center table-hover table-bordered">
				<thead>
					<tr class="table-warning">
						<th scope="col">
							Ref.
						</th>

						<th scope="col">
							Date de commande
						</th>
						<th scope="col">
							Expéditeur
						</th>
						<th scope="col">
							Destinataire
						</th>
						<th scope="col" class="table-success">
							Total (TTC)
						</th>
					</tr>
					<tr>
						<td>
							{{ commande.reference }}
						</td>
						<td>
							{{ commande.date ? commande.date|date('d/m/Y') ~ ' (à ' ~ commande.date|date('H') ~ 'h' ~ commande.date|date('i)') : '' }}
						</td>

						<td>
							{{ commande.user.prenom ~ ' ' ~ commande.user.nom }}
						</td>
						<td>
							destinataire??
						</td>
						<td class="table-success">
							{{ commande.totalFacturation }}€
						</td>
					</tr>

					<tr>
						<th colspan="6" class="table-warning">
							Liste des produits
						</th>
					</tr>

					<tr class="table-secondary">
						<th>Produit(s)</th>
						<th>Nom</th>
						<th>Prix unitaire</th>
						<th>Qté</th>
						<th>Fiche produit</th>
					</tr>
				</thead>
				<tbody>

					{% for ligne_commande in lignes_commande %}
						<tr>
							<td class="d-flex align-items-center justify-content-around">
								<a href="{{ path('app_produit_show', {'id': ligne_commande.produit.id}) }}">

									<img src="{{asset('upload/' ~ ligne_commande.produit.image )}}" alt="Image du produit" width="140px">
								</a>
							</td>

							<td>
								{{ ligne_commande.produit }}
							</td>

							<td>
								<a href="{{ path('app_produit_show', {'id': ligne_commande.produit.id}) }}">
									{{ ligne_commande.produit.prix }}€
								</a>
							</td>
							<td>
								{{ ligne_commande.quantite }}
							</td>
							<td>
								<a href="{{ path('app_produit_show', {'id': ligne_commande.produit.id}) }}" class="btn btn-sm btn-outline-secondary mt-1">
									<i class="fa-solid fa-eye"></i>
									Voir
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<p class="small text-muted justify-content-end d-flex align-items-center">

			<i class="fa-solid fa-sm fa-circle-question"></i>
			&nbsp Un problème avec la commande? &nbsp
			<a href="{{path('app_contact')}}">
				Contactez-nous
			</a>
		</p>
		<div class="d-flex flex-wrap justify-content-center my-3">

			<a href="{{ path('app_profile_user_commande') }}" class="btn btn-outline-dark m-2">
				Retour à l'historique de commande
			</a>

			<a href="{{path('app_profile_user')}}" class="btn btn-warning m-2">
				Mon profil
			</a>
		</div>
	</section>

{% endblock %}
