{% extends 'base.html.twig' %}

{% block title %}
	Paiement
{% endblock %}

{% block body %}
	<h1>
		Commande validée &nbsp
		<i class="fa-solid fa-sm fa-circle-check"></i>
	</h1>


	<section id="payment-confirm" class="text-center">

		<p class="h4 my-5">
			Merci pour votre achat !
		</p>
		<p class="my-3">
			Retrouvez votre
			<span class=" font-weight-bold text-success">commande n°{{orderRef}}</span>
			dans votre
			<a href="{{path('app_profile_user')}}">
				profil personnel
			</a>, rubrique
			<a href="{{path('app_profile_user_commande')}}">
				"Historique de commandes"
			</a>.
		</p>

		<div class="col-md-5 row mx-auto my-5">
			<a href="{{path('app_home')}}" class="my-2 btn btn-warning">
				Accueil
			</a>
			<a href="{{path('app_restaurant_index')}}" class="my-2 btn btn-outline-secondary">
				Voir les restaurants
			</a>
		</div>
	</section>

{% endblock %}
