{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>Admin Produit index</h1>

	<p class="h4 text-center">Gérer les produits disponibles</p>

	<section class="container">

		<div class="table-responsive-lg">

			<table class="table text-center table-striped table-bordered">

				<thead class="table-warning">
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Catégorie de produit</th>
						<th>Image</th>
						<th>Prix</th>
						<th>Livre_auteur</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for produit in produits %}
						<tr>
							<td>{{ produit.id }}</td>
							<td>{{ produit.titre }}</td>
							<td>{{ produit.categProduit }}</td>
							<td>
								<img src="{{asset('upload/' ~ produit.image)}}" width="150">
							</td>
							<td>
								{{ produit.prix }}€
							</td>
							<td>{{ produit.livreAuteur }}</td>
							<td>
								<a href="{{ path('app_admin_produit_show', {'id': produit.id}) }}" class="btn m-2 btn-primary">Afficher</a>

								<a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}" class="btn m-2 btn-warning">Modifier</td>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">Pas de résultat</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="justify-content-center flex-wrap d-flex">

			<a href="{{ path('app_admin_produit_new') }}" class="btn btn-dark m-2">Créer un nouveau produit</a>

			<a href="{{ path('app_admin_boutique_index') }}" class="btn btn-outline-secondary m-2">
				Toutes les catég produit
			</a>
		</div>

	</section>
{% endblock %}
