{% extends 'base.html.twig' %}

{% block title %}
	Restauration index
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Restauration index</h1>

		<div class="container">
			<p>Gérer les catégories de types de cuisines
			</p>

			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">


					<thead>
						<tr>
							<th>Id</th>
							<th>Type_cuisine</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for restauration in restaurations %}
							<tr>
								<td>{{ restauration.id }}</td>
								<td>{{ restauration.typeCuisine }}</td>
								<td>
									<a href="{{ path('app_admin_restauration_show', {'id': restauration.id}) }}" class="btn btn-primary  ">Afficher</a>

									<a href="{{ path('app_admin_restauration_edit', {'id': restauration.id}) }}" class="btn btn-warning ">Modifier</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_restauration_new') }}" class="btn btn-success">Créer Restauration catégorie</a>

			</div>
		</div>
	</div>
{% endblock %}
