{% extends 'base.html.twig' %}

{% block title %}Afficher Restauration
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Afficher Restauration</h1>

		<div class="container">
			<div class="table-responsive-lg">
				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ restauration.id }}</td>
						</tr>
						<tr>
							<th>Type_cuisine</th>
							<td>{{ restauration.typeCuisine }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center flex-wrap">
				<a href="{{ path('app_admin_restauration_index') }}" class="btn btn-light ">Retour index Restauration</a>


				<a href="{{ path('app_admin_restauration_edit', {'id': restauration.id}) }}" class="btn btn-warning ">Modifier</a>

				{{ include('admin_restauration/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
