{% extends 'base.html.twig' %}

{% block title %}Admin - Tous les utilisateurs - Roots
{% endblock %}

{% block body %}
	<h1>Tous les utilisateurs</h1>
	<section class="container">
		<p>Gérer les utilisateurs inscrits</p>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Telephone</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.prenom }}</td>
						<td>{{ user.telephone }}</td>
						<td>
							<a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-outline-info">Afficher</a>

							<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-outline-warning">Modifier</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Pas de résultat / aucun utilisateur
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_user_new') }}" class="btn btn-outline-dark">Créer un nouvel utilisateur</a>
	</section>
{% endblock %}
