{% extends 'base.html.twig' %}

{% block title %}
	Tous les utilisateurs
{% endblock %}

{% block body %}
	<h1>Tous les utilisateurs</h1>

	<section class="container">

		<p class="h4 text-center">Gérer les utilisateurs inscrits</p>

		<div class="table-responsive-lg">

			<table class="table table-striped table-bordered">

				<thead class="table-warning">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Email</th>
						<th scope="col">Nom</th>
						<th scope="col">Prenom</th>
						<th scope="col">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.nom | upper }}</td>
							<td>{{ user.prenom | capitalize }}</td>
							<td>
								<a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-primary m-2">Afficher</a>

								<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-warning m-2">Modifier</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">Pas de résultat / aucun utilisateur
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="justify-content-center flex-wrap d-flex">
			<a href="{{ path('app_admin_user_new') }}" class="btn btn-dark m-2">Créer un nouvel utilisateur</a>
		</div>
	</section>
{% endblock %}
