{% extends 'base.html.twig' %}

{% block title %}
	Index User
{% endblock %}

{% block body %}


	<div class="bg_admin">
		<h1>User index</h1>

		<div class="container">
			<p>Gérer les utilisateurs inscrits</p>

			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">


					<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.nom | upper }}</td>
								<td>{{ user.prenom | capitalize }}</td>
								<td>
									<a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-primary ">Afficher</a>

									<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-warning ">Modifier</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">Pas de résultat / aucun utilisateur
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="justify-content-center flex-wrap d-flex">
				<a href="{{ path('app_admin_user_new') }}" class="btn btn-success ">Créer User</a>
			</div>
		</div>
	</div>
{% endblock %}
