{% extends 'base.html.twig' %}

{% block title %}
	Message envoyé !
{% endblock %}

{% block body %}

	<h1>
		Message envoyé !
	</h1>

	<section class="mb-5 pt-4 px-3 pb-5 bg-light">

		<div class="mx-auto text-center">
			<p class="mb-5 h4 text-dark text-center">
				Merci
				<span class="font-weight-bold text-success">
					{{ data.identity | capitalize }}
				</span>
				pour votre message !
			</p>
			<p class="mb-3">
				L'équipe de Roots reviendra vers vous dans les meilleurs délais.
			</p>
			<p class="mb-3">
				Nous vous répondrons sur l'email suivant :
				<span class=" font-weight-bold text-success">
					{{ data.email | lower }}
				</span>
				<br>
				(Vérifiez vos spams !)
			</p>

			<p class="mb-3 mt-5 h5">
				Copie de votre message :
			</p>
			<p class="contact_copy text-wrap">
				{{ data.message | capitalize }}
			</p>
			{# <figure class="w-75">
				<img src="{{ data.image }}" alt="">

			</figure> #}
		</div>

		<div class="d-flex justify-content-center m-5">
			<a role="button" href="{{path('app_home') }}" class="btn btn-warning">
				Retour à l'accueil
			</a>
		</div>

	</section>

{% endblock %}
