{% extends 'base.html.twig' %}

{% block title %}Les cuisines africaines - Roots
{% endblock %}


{% block body %}
<h1>Les restaurants africains</h1>

<section
class="restaurant_container_afr">

	{# nouvelle variable in variable du controller #}
	{% for restaurant in restaurants %}
<div class="card card-restaurant">


			<div class="card-img-top">
				<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">

					<p class="card-text_img">{{ restaurant.specialite }}</p>
					<img src="{{asset('upload/' ~ restaurant.image)}}" alt="Image du restaurant">

				</a>
			</div>

			<div class="card-body">
				<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
					<h5 class="card-title">{{ restaurant.nom }}</h5>
				</a>

				<small class="card-text">
					{{ restaurant.codePostal }},
					{{ restaurant.ville }}
				</small>
				<div class="card_favoris">
					<a class="card_container" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
						Découvrir...
					</a>
					<a type="button" id="addFav" href="{{ path('app_profile_control_favoris', {'id': restaurant.id}) }}">
						<i class="fa-solid fa-xl fa-star"></i>
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
</section>

{% endblock %}
