<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		{# Favicon du site #}
		{# <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/logo_roots.png') }}"> #}
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="assets/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		{# Feuilles de styles CSS #}
		{% block stylesheets %}
			{# CSS externe - Bootstrap #}
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

			{# CSS interne général #}
			<link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/logo.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/contact_form.css') }}">

			<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/bckground.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/section_about.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/section_carousel.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/section_home.css') }}">

			{# Google Fonts #}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
		{% endblock %}

		{# Scripts Javascript #}
		{% block javascripts %}
			{# JS externe - Bootstrap #}
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>

			{# Javascript interne #}
			<script src="{{ asset('assets/js/script.js')}}" defer></script>
			{# Icon Kit - Fontawesome #}
			<script src="https://kit.fontawesome.com/10342158be.js" crossorigin="anonymous"></script>
		{% endblock %}

		<title>
			{% block title %}
				ROOTS - Les meilleurs restaurants africains et caribéens
			{% endblock %}
		</title>
	</head>
    {# corps du site #}
	<body>
        {# header #}
		{% include "header.html.twig" %}
            {# container du site #}
		    <main class="site_container"> 
                {# contenu X.html.twig du site #}
                {% block body %}{% endblock %}
			</main>
        {# footer #}
        {% include "footer.html.twig" %}
    </body>
</html>
