<!DOCTYPE html>
<html lang="fr">

	<head>
		{# META TAGS #}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block metadesc %}{% endblock %}">
		<meta name="keywords" content="restaurant, africain, antillais, caribéen, livre, recette, paris">
		<meta name="author" content="Justine TAVARES VAZ"> {% block meta %}{% endblock %}

		{# FAVICON #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png')}}">
		<link rel="mask-icon" href="{{ asset('img/favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		{% block stylesheets %}
			{# CSS BOOTSTRAP #}
			<link
			rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			{# CSS #}
			<link rel="stylesheet" href="{{ asset('css/fonts.css')}}">
			<link rel="stylesheet" href="{{ asset('css/logo.css')}}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('css/contact_form.css') }}">
			<link rel="stylesheet" href="{{ asset('css/header.css') }}">
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
			<link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
			<link rel="stylesheet" href="{{ asset('css/security_register.css') }}">
			<link rel="stylesheet" href="{{ asset('css/section_carousel.css') }}">
			<link rel="stylesheet" href="{{ asset('css/section_home.css') }}">
			<link rel="stylesheet" href="{{ asset('css/about.css') }}">
			<link rel="stylesheet" href="{{ asset('css/legal.css') }}">
			<link rel="stylesheet" href="{{ asset('css/restaurant.css') }}">
			<link rel="stylesheet" href="{{ asset('css/restaurant_show_one.css') }}">
			<link rel="stylesheet" href="{{ asset('css/favorisAndCart.css') }}">
			<link
			rel="stylesheet" href="{{ asset('css/profile_user.css') }}">

			{# GOOGLE FONTS #}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
		{% endblock %}

		<title>
			{% block title %}{% endblock %}
			- Roots
		</title>
	</head>

	<body>
		{# HEADER #}
		{% include "_header.html.twig" %}

		{# CONTAINER - sticky footer #}
		<main
			class="site_container">

			{# ADDFLASH MESSAGE #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success p-2 w-75 mx-auto text-center fade show align-items-center d-flex space-between" role="alert">
				<div>
					{{ message }}
				</div>
					
				<button type="button" class="btn" data-bs-dismiss="alert" aria-label="Close">
					<i class="fa-solid fa-xmark"></i>
				</button>

				</div>
			{% endfor %}

			{# BODY #}
			{% block body %}{% endblock %}
		</main>

		{# BACK TO TOP #}
		<button onclick="backToTop()" id="toTop" aria-label="Retourner en haut de la page" title="Retourner en haut de la page"></button>

		{# FOOTER #}
		{% include "_footer.html.twig" %}
	</body>

	{% block javascripts %}
		{# JS BOOTSTRAP #}
		<script src="{{ asset('js/bootstrap.bundle.min.js')}}"></script>
		{# JAVASCRIPT #}
		<script src="{{ asset('js/script.js')}}"></script>
		{# ICON KIT - FONTAWESOME #}
		<script src="https://kit.fontawesome.com/10342158be.js" crossorigin="anonymous"></script>
		{# STRIPE API #}
		<script src="https://js.stripe.com/v3/"></script>
		{# GOOGLE reCAPTCHA #}
		{# // <script src="https://www.google.com/recaptcha/api.js" async defer onload hl></script> #}
		{# // <script src="{{ asset('js/recaptcha_form.js')}}"></script> #}

	{% endblock %}
</html>
