{% extends 'base.html.twig' %}

{% block title %}Specialite index
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Specialite index</h1>

		<div class="container">

			<p>
				Gérer les de types de spécialités culinaires (liste des pays du monde)
			</p>

			<div class="table-responsive-lg">

				<table class="table text-center table-secondary table-hover table-striped table-bordered border-secondary">
					<thead>
						<tr>
							<th>Id</th>
							<th>Pays</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for specialite in specialites %}
							<tr>
								<td class="col-1">{{ specialite.id }}</td>
								<td class="col-2">{{ specialite.pays }}</td>
								<td class="col-3">
									<a href="{{ path('app_admin_specialite_show', {'id': specialite.id}) }}" class="btn btn-primary  ">Afficher</a>

									<a href="{{ path('app_admin_specialite_edit', {'id': specialite.id}) }}" class="btn btn-warning  ">Modifier</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="justify-content-center flex-wrap d-flex">
				<a href="{{ path('app_admin_specialite_new') }}" class="btn btn-success">Créer Specialite</a>
			</div>
		</div>
	</div>
{% endblock %}
