{% extends 'base.html.twig' %}

{% block title %}Afficher Specialite
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Afficher Specialite</h1>

		<div class="container">
			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ specialite.id }}</td>
						</tr>
						<tr>
							<th>Pays</th>
							<td>{{ specialite.pays }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center flex-wrap">
				<a href="{{ path('app_admin_specialite_index') }}" class="btn btn-light ">Retour index Specialite</a>

				<a href="{{ path('app_admin_specialite_edit', {'id': specialite.id}) }}" class="btn btn-warning ">Modifier</a>

				{{ include('admin_specialite/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
