{% extends 'base.html.twig' %}

{% block title %}
	Nutrition index
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>Nutrition index</h1>

		<div class="container">

			<p>Gérer les catégories de régimes alimentaires
			</p>

			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">

					<thead>
						<tr>
							<th>Id</th>
							<th>Regime</th>
							<th>Image</th>
							<th>Definition</th>
							<th>actions</th>
							<th>Les resto par catég</th>
						</tr>
					</thead>
					<tbody>
						{% for nutrition in nutrition %}
							<tr>
								<td>{{ nutrition.id }}</td>
								<td>{{ nutrition.regime }}</td>
								<td>
									<img src="{{asset('upload/' ~ nutrition.image)}}" width="200">
								</td>
								<td>{{ nutrition.definition }}</td>

								<td>
									<a href="{{ path('app_admin_nutrition_show', {'id': nutrition.id}) }}" class="btn btn-primary ">Afficher</a>

									<a href="{{ path('app_admin_nutrition_edit', {'id': nutrition.id}) }}" class="btn btn-warning">Modifier</a>
								</td>
								<td>
									<a href="{{ path('app_admin_restaurant_categorie', {'id': nutrition.id}) }}" class="btn btn-light">Resto</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Pas de résultat</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_nutrition_new') }}" class="btn btn-success">Créer catégorie Nutrition</a>
			</div>

		</div>
	</div>
{% endblock %}
