{% extends 'base.html.twig' %}

{% block title %}
	Afficher Nutrition
{% endblock %}

{% block body %}
	<div class="bg_admin">
		<h1>
			Afficher Nutrition
		</h1>
		<div class="container">
			<div class="table-responsive-lg">

				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ nutrition.id }}</td>
						</tr>
						<tr>
							<th>Regime</th>
							<td>{{ nutrition.regime }}</td>
						</tr>
						<tr>
							<th>Image</th>
							<td>
								<img src="{{asset('upload/' ~ nutrition.image)}}" width="200">
							</td>
						</tr>
						<tr>
							<th>Definition</th>
							<td>{{ nutrition.definition }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center flex-wrap">

				<a href="{{ path('app_admin_nutrition_index') }}" class="btn btn-light">Retour index Nutrition</a>

				<a href="{{ path('app_admin_nutrition_edit', {'id': nutrition.id}) }}" class="btn btn-warning">Modifier</a>

				{{ include('admin_nutrition/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
