{% extends 'base.html.twig' %}

{% block title %}
	Index Boutique
{% endblock %}

{% block body %}
	<div class="bg_admin">

		<h1>Boutique index</h1>

		<div class="container">

			<p>Gérer les catégories de types de produits vendus sur le site Roots</p>

			<div class="table-responsive-lg">
				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Type_produit</th>
							<th scope="col">actions</th>
							<th scope="col">Les produits de la catégorie</th>
						</tr>
					</thead>
					<tbody>
						{% for boutique in boutiques %}
							<tr>
								<td>{{ boutique.id }}</td>
								<td>{{ boutique.typeProduit }}</td>
								<td>
									<a href="{{ path('app_admin_boutique_show', {'id': boutique.id}) }}" class="btn btn-primary">Afficher</a>

									<a href="{{ path('app_admin_boutique_edit', {'id': boutique.id}) }}" class="btn btn-warning ">Modifier</a>
								</td>
								<td>
									<a href="{{path('app_admin_produit_byCateg', {'id': boutique.id})}}" class="btn btn-light">Produits</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td colspan="5">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="justify-content-center flex-wrap d-flex">
				<a href="{{ path('app_admin_boutique_new') }}" class="btn btn-success">Créer Boutique</a>

				<a href="{{ path('app_admin_produit_index') }}" class="btn btn-light">Les produits</a>
			</div>
		</div>
	</div>
{% endblock %}
