{% extends 'base.html.twig' %}

{% block title %}
	Commande
{% endblock %}

{% block body %}
	<div class="bg_admin">

		<h1>Commande index</h1>

		<div class="container">
			<p>
				Gérer les commandes (factures) clients
				<br>
				<span class="small">
					(de la plus récente à la plus ancienne)
				</span>
			</p>

			<div class="table-responsive-lg">
				<table class="table table-secondary table-hover table-striped table-bordered border-secondary">
					<thead>
						<tr>
							<th scope="col">
								ID
							{# <a type="button" onclick="sortAscDesc()">href="{{ path('app_admin_commande_index')}}" #}
								{# <i class="fa-solid fa-arrow-down-wide-short"></i> #}

								{# <i id="croissant" class="fa-solid fa-arrow-down-short-wide"></i> #}
								{# </a> #}
							</th>
							<th scope="col">Réf.</th>
							{# <th scope="col">Prix</th> #}
							<th scope="col">Date</th>
							<th scope="col">User</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for commande in commandes %}
							<tr>
								<td class="px-4">
									<a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}">
										{{ commande.id }}
									</a>
								</td>
								<td>
									{{ commande.reference }}
								</td>
								{# <td>
																																																																						{{ ligne_commande.prix }}
																																																																					</td> #}
								<td>{{ commande.date ? commande.date|date('d/m/y (@H:i)') : '' }}</td>
								<td>
									<a href="{{ path('app_admin_commande_user', {'id': commande.user.id}) }}" class=" btn btn-sm btn-light ">
										{{ commande.user.prenom | first ~ '. ' ~ commande.user.nom | upper }}
									</a>
								</td>

								<td>
									<a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}" class="btn btn-primary">Afficher</a>

									<a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}" class="btn  btn-warning">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de résultat</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="justify-content-center flex-wrap d-flex">

				<a href="{{ path('app_admin_commande_new') }}" class="btn btn-success">Créer nouvelle commande</a>
			</div>
		</div>
	</div>
{% endblock %}
