{% extends 'base.html.twig' %}

{% block title %}
Afficher une Commande
{% endblock %}

{% block body %}
	<h1>
		Détail: commande ref.
		{{ commande.reference }}
	</h1>

	<section class="container">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						<p class="text-black-50">#ID</p>
						<p>{{ commande.id }}</p>
					</th>

					<th>
						<p class="text-black-50">Date</p>
						<p>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</p>
					</th>

					<th>
						<p class="text-black-50">N° de réf</p>
						<p>{{ commande.reference }}</p>
					</th>

					<th>
						<p class="text-black-50">#ID User</p>
						<p>
							{{ commande.user }}
							<a href="{{ path('app_admin_commande_user', {'id': commande.user.id}) }}" class="btn btn-sm btn-outline-secondary mx-1">
								Voir client
							</a>
						</p>
					</th>

					<th>
						<p class="text-black-50">Total (TTC)</p>
						<p>
							{{ commande.totalFacturation }}
							€
						</p>
					</th>
				</tr>
				<tr>
					<th colspan="4" class="text-center table-warning">
						<p class=" text-uppercase">
							Liste des produits de la commande n°{{ commande.reference }}
						</p>
					</th>
				</tr>
				<tr class="text-center table-secondary">
					<th>#ID produit</th>
					<th>Nom</th>
					<th>Qté</th>
					<th>Sous-total produit</th>
				</tr>
			</thead>
			<tbody class="text-center">

				{% for ligne_commande in ligne_commandes %}
					<tr>
						<th scope="row">
							<a href="{{ path('app_admin_ligne_commande_show', {'id': ligne_commande.id}) }}">
								{{ ligne_commande.id }}
							</a>
						</th>
						<td>
							<p>
								<a href="{{ path('app_admin_ligne_commande_show', {'id': ligne_commande.id}) }}">
									{{ ligne_commande.produit }}
								</a>
							</p>
						</td>
						<td>
							<a href="{{ path('app_admin_ligne_commande_show', {'id': ligne_commande.id}) }}">
								{{ ligne_commande.quantite }}
							</a>
						</td>
						<td>
							<a href="{{ path('app_admin_ligne_commande_show', {'id': ligne_commande.id}) }}">
								{{ ligne_commande.prix }}
								€
							</a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>

		<div class="d-flex justify-content-around">

			<a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}" class="btn btn-outline-warning">Modifier</a>

			<a href="{{ path('app_admin_commande_index') }}" class="btn btn-outline-dark">
				Retour à la liste des commandes
			</a>

			{{ include('admin_commande/_delete_form.html.twig') }}

		</div>

	</section>

{% endblock %}
