{# Envoi email pour confirmation de message contact envoyé #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/contact_form.css') }}">
		<link
		rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
		{# Icon Kit - Fontawesome #}
		<script src="https://kit.fontawesome.com/10342158be.js" crossorigin="anonymous"></script>
		{# Google Fonts #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap" rel="stylesheet">
	</head>
	<body>
    {% apply inline_css(source('@style/footer.css', '@style/header.css', '@style/fonts.css'), '@style/.css') %}
		<header>
			<nav class="navbar navbar-light container-fluid">
				<div>
					<a class="footer_logo_container" href="{{path('app_home')}}">
						<img class="footer_logo_img" src="{{ email.image('@image/logo_roots.png') }}" alt=" logo du site roots">
					</a>
				</div>
			</nav>
		</header>
{% endapply %}

		<h1>Message envoyé !
		</h1>

		<div class="submitted_form_container">
			<p>
				Bonjour,
				<span class="text_strong_green">
					{{ valid_contact_form.identity }}
				</span>
				<br>
				Votre message a bien été pris en compte.
				<br>
				L'équipe de Roots reviendra vers vous dans les meilleurs délais.

			</p>
			<p>
				Copie de votre message :
				<div class="contact_form_control_submitted_container">
					{{ valid_contact_form.message}}
				</div>
			</p>
		</div>

		<p>
			N'hésitez pas à découvrir dès maintenant les meilleurs restaurants africains et caribéens de votre région et partout en France !
		</p>
		<div class="position_center">
			<a role="button" href="{{path('app_home') }}" class="btn submitted_form_nav">
				Découvrir les restaurants
			</a>
		</div>
		<ul>
			<li>
				Cet e-mail a été envoyé à
				<a href="">
					{{ valid_contact_form.email}}
				</a>
				car vous avez consulté le site
				<a href="{{path('app_home')}}">Roots</a>
			</li>
			<li>
				<a href="">Ne plus recevoir d'emails de Roots</a>
			</li>
		</ul>

		<footer class='container-fluid'>
			<div class="footer_sumup">
				<a class="footer_logo_container" href="{{path('app_home')}}">
					<img class="footer_logo_img" src="{{ asset('assets/img/logo_roots.png') }}" alt="Logo du site Roots">
				</a>
				<ul class="footer_sumup_content">
					<li>
						<a href="{{path('app_about')}}">A propos de Roots</a>
					</li>
					<li>
						<a href="tel:+33600000000">
							<i class="fa-solid fa-phone"></i>
							06.00.00.00.00</a>
					</li>
					<li>
						<a href="https://goo.gl/maps/iqavF1LSDoXUHwCbA">
							<i class="fa-solid fa-house"></i>
							Paris 11e, France
						</a>
					</li>
				</ul>
			</div>

			{# réseaux sociaux #}
			<div class="footer_links_socials">
				<p class="footer_links_socials_header">Suivez-nous !</p>

				<ul class="footer_links_socials_icons">
					<li>
						<a href="#">
							<i class="fa-brands fa-xl fa-youtube"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-xl fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-xl fa-twitter"></i>
						</a>
					</li>
				</ul>
				<p class='copyright'>
					Tous droits réservés.
					<br>
					2022 &copy
					<a href="{{path('app_home')}}">Roots</a>/
					<a href="https://www.linkedin.com/in/justine-tvz">J.T.V.</a>
				</p>
			</div>
		</footer>
	</body>
</html>
