<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<h1>
			- Nouveau ticket -
		</h1>
		<h2>
			Recommandation de restaurant
		</h2>

		<div class="card border-dark mb-3" style="max-width: 13rem;">
			<h3 class="card-header">
				Email de l'interlocuteur
			</h3>
			<div class="card-body text-dark">
				<p class="card-text">
					{{ data.email }}
				</p>
			</div>

			<h3 class="card-header">
				Restaurant recommandé
			</h3>

			<div class="card-body text-dark">
				<p class="card-text">
					{{ data.restaurant }}
				</p>
			</div>
			{% if data.message %}
			<h3 class="card-header">
				Message/commentaire
			</h3>
			<div class="card-body text-dark">
				<p class="card-text">
					{{ data.message }}
				</p>
			</div>
			{% endif %}
			{# {% if data.attachement %}
			<h3 class="card-header">
				Consulter les pièces jointes
			</h3>
			<div class="card-body text-dark">
				
				<img src={{ data.attachement }} alt="">

				<img src="{{ data.attachement('') }}" alt="">
			</div>
			{% endif %} #}
		</div>
	</body>
</html>
